@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

@if ( !DoorController.IsValid() ) return;

<root>
	<div class="container">
		<div class="door-info">
			Press & Hold E to Open Door
		</div>
		<div class="door-cost">
			<p>[Cost: @DoorController.doorCost]</p>
		</div>
	</div>
</root>

@code
{

	[Property] DoorController DoorController { get; set; }


	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( DoorController.doorCost );
}
