PlayerHUD
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-family: "Poppins";
	font-size: 24px;

	.vitals
	{
		position: absolute;
		bottom: 5px;
		left: 5px;
		font-size: 24px;
		font-weight: bold;
		flex-direction: column;
	}

	.healthbars
	{
		position: absolute;
		bottom: 1rem;
		left: 1rem;

		.healthbar
		{
			width: 500px;
			height: 64px;
			background-color: rgb(19, 19, 19);
			padding: 8px;

			.inner
			{
				background-color: black;
				flex-grow: 1;
				
				.fill
				{
					height: 100%;
					background-color: red;
				}
			}
		}

	}
}