@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
        <div class="title">
            Patient Zero
        </div>

        <div class="menu-buttons-container">
            <p id="play-button" onmousedown="@PlayScene">
                Play
            </p>
            <p id="exit-button">
                Exit
            </p>
        </div>
</root>

@code
{
	private void PlayScene()
	{
		Game.ActiveScene.LoadFromFile( "scenes/minimal.scene" );
	}
	

	

	[Property, TextArea] public string MyStringValue { get; set; } = "";

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( MyStringValue );
}
